* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #e22828;
    padding: 2px;
    text-align: center;
    font-size: 20px;
    color: white;
    
  }
  header h2{
      
      display: inline-block;
      margin-left:-100px;
      margin-left: 40px;
  }
  header a{
      
      display:inline-block;
      margin-left:30px;
      color: #fff;
      text-decoration:none;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the footer */
  footer {
    
    background-color:  #e22828;
    padding: 30px;
    text-align: center;
    color: white;
    margin-top:10px;
  }
  .tag{
      display: inline-block;
      margin-left:500px;
  }
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  
  form {
    border:1px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #27b9e6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  img{
    border-radius:100px;
    margin-left: -150px;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  
  
  /* Add padding to containers */
  .container {
    padding: 16px;
   
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  .container{
      width:400px;
      text-align: center;
      margin-left: 32%;
      width:400px;
      text-align: center;
      margin-left: 32%;
      /* background-image: url('68.jpg'); */
      background-color: rgb(240, 172, 151);
      margin-top:80px;
      margin-bottom:10px;
      border-radius:10px;
  
      
  }
  
  .container label{
      margin-left:-20%;
  }


  * {
    box-sizing: border-box;
  }

  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;

  
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;  
    top: 5%;
    transform: translate(-50%, 5%);
    background-color:rgba(15, 124, 93, 0.685);

    border:none;
    background-color: #13a02a;
    border-radius:10px;
    z-index: 9;
    height:10%;
    width:20%;
    color:#fff;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color:rgba(20, 153, 71, 0.685);

    
  }
  .forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  